POSTGRES_DB=trading_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
JWT_SECRET=change-this-jwt-secret
MARKET_DATA_BASE_URL=http://host.docker.internal:8080
MARKET_DATA_WEBSOCKET_URL=ws://host.docker.internal:8080/ws
